/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);
figure.snip1094 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  max-height: 300px;
  width: 100%;
  background: #000000;
  text-align: left;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

figure.snip1094 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

figure.snip1094 img {
  max-width: 100%;
  position: relative;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

figure.snip1094 h3 {
  font-size: 16px;
  position: absolute;
  left: 0;
  color: #000000;
  top: 65%;
  padding: 15px 20px;
  width: 100%;
  margin: 0;
  text-transform: uppercase;
  font-weight: 400;
  background-color: rgba(255, 255, 255, 0.5);
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.15) 100%);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.15) 100%);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

figure.snip1094 h3 span {
  font-weight: 800;
}

figure.snip1094:after {
  background: #000000;
  width: 100%;
  height: 22px;
  position: absolute;
  left: 0;
  bottom: -22px;
  content: '';
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

figure.snip1094 .icons {
  width: 100%;
  bottom: 35%;
  right: 15px;
  position: absolute;
  text-align: right;
  z-index: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

figure.snip1094 .icons i {
  font-size: 24px;
  display: inline-block;
  border-radius: 4px;
  text-align: center;
  color: #ffffff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin: 3px;
  background-color: #262626;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
}

figure.snip1094 a {
  display: inline-block;
  opacity: 0;
}

figure.snip1094 a:hover i {
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.4);
}

figure.snip1094.blue h3 {
  color: #1b557a;
}

figure.snip1094.blue i {
  color: #fff;
  background-color: #2472a4;
}

figure.snip1094.blue:after {
  background-color: #0a212f;
}

figure.snip1094.red h3 {
  color: #81261d;
}

figure.snip1094.red i {
  color: #fff;
  background-color: #ab3326;
}

figure.snip1094.red:after {
  background-color: #36100c;
}

figure.snip1094.yellow h3 {
  color: #b06f09;
}

figure.snip1094.yellow i {
  color: #fff;
  background-color: #e08e0b;
}

figure.snip1094.yellow:after {
  background-color: #583804;
}

figure.snip1094:hover img,
figure.snip1094.hover img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}

figure.snip1094:hover:after,
figure.snip1094.hover:after {
  bottom: 0;
}

figure.snip1094:hover .icons a,
figure.snip1094.hover .icons a {
  opacity: 1;
  -webkit-transform: translateY(35%);
  transform: translateY(35%);
}

figure.snip1094:hover a:first-child,
figure.snip1094.hover a:first-child {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

figure.snip1094:hover a:nth-child(2),
figure.snip1094.hover a:nth-child(2) {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

figure.snip1094:hover a:nth-child(3),
figure.snip1094.hover a:nth-child(3) {
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

fieldset {
  display: block;
  margin-left: 2px;
  margin-right: 2px;
  padding: 1%;
  border: 2px solid black;
}